colorama==0.4.6
hypothesis==6.155.7
mypy>=1.10
numba==0.65.1
numpy==2.4.6
pre-commit>=3.5
pytest==9.1.1
pytest-env==1.6.0
pytest-runner==5.2
typing_extensions
colour==0.1.5
chalk-diagrams @ git+https://github.com/chalk-diagrams/chalk
